* {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  height: 35px;
  width: 35px;
}

.about {
  color: white;
  text-align: left;
  padding-left: 160px;
  padding-right: 210px;
  margin-top: 40px;
}

.about, h1 {
  font-size: 60px;
}

.about, h2 {
  font-size: 38px;
}

.about, p {
  font-size: 18px;
}

.about-ul {
  columns: 2;
  font-size: 28px;
}




@media screen and (max-width: 735px) {
  .about {
    padding-left: 10px;
    margin-top: 20px;
  }
  .about, p {
    padding: 5px;
    font-size: 14px;
  }
  .about-ul {
    columns: 1;
  }
  .navbar-menu {
    padding-right: 5px;
  }
}



.navbar {
  justify-content: space-between;
  display: flex;
  background-color: black;
}
.navbar-logo {
  width: 70px;
  padding: 25px 25px 10px 25px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  padding: 10px;
}

.navbar-link:hover {
  transition: all 0.2s ease-in-out;
  color: #3909f2;
}

.hero {
 color: white;
 text-align: left;
 margin-left: 10px;
 font-size: 24px;
}

.hero-name {
  color: #3909f2;
}

.hero-name:hover {
  color: white;
}

.hero-button {
  text-decoration: none;
  text-align: center;
  background: #3909f2;
  width: 195px;
  height: 60px;
  border-radius: 30px;
  font-size: 33px;
  color: white;
  font-weight: 400;
  padding-top: 6px;
  transition: all 0.2s ease-in-out;
}

.hero-button:hover {
  transition: all 0.2s ease-in-out;
  color: black;
  background: white;
  font-weight: 600;
}

.hero-link {
  text-decoration: none;
}


/* 000ec5 - logo color  */